.btn {
	display: inline-block;
	text-align: center;
	color: #fff;
	cursor: pointer;
	transition: all .15s;
}


.btn-opacity-white {
	font-size: 13px;
	display: block;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.9);
	background: rgba(255, 255, 255, 0.1);

	i {
		padding-right: 3px;
	}

	&.on {
		color: #fff;
		background: rgba(255, 255, 255, 0.36);
	}
}