.page {
  padding-left: $left-nav-w;
  // padding-top: $topNavH;
  display: flex;
  padding-top: $topNavH;
  // justify-content: flex-end;
  align-items: stretch;
  background: $c-page-bg;
  height: 100%;

  &.collapse {
    padding-left: 64px;

    .left-nav {
      width: 64px;
    }
  }
}

.left-nav {
  z-index: 2;
  position: fixed;
  left: -$topNavH + 36;
  top: $topNavH;
  padding-top: $topNavH;
  display: flex;
  flex-direction: column;
  width: $left-nav-w;
  height: 100%;
  min-height: 600px;
  background: $c-bg-dark;

  .icon-tongji {
    padding-left: 5px;
  }

  .el-menu {
    z-index: 1;
    border-right: none;
    background: none;
    width: 100%;

    .el-menu-item {
      background-color: rgba(0, 0, 0, 0) !important;

      &.is-active {
        background-color: darken($c-bg-dark, 5%) !important;
      }
    }
  }

  .is-active i,
  .is-active span {
    animation: flash 2.5s ease forwards infinite;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  box-sizing: border-box;
  flex: 1;
  background: $c-page-bg;

  &:before {
    position: absolute;
    z-index: 1;
    top: $topNavH;
    left: 0;
    content: "";
    width: 100%;
    height: 30vh;
    background: linear-gradient(-60deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6)) !important;
  }

  .util-btn {
    width: 22px;
    height: 22px;
    font-size: 22px;
    z-index: 10;
    position: absolute;
    top: $topNavH +25px;
    right: 18px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
  }

  img.banner {
    object-fit: cover;
    object-position: center center;

  }

  .banner {
    display: block;
    height: 30vh;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-color: $c-bg-dark;
    background-position: center center;
  }

  .cont-top {
    position: absolute;
    top: $topNavH;
    $h: 35vh;
    height: $h;
    width: 100%;
    // min-height: 200px;

    .banner {
      position: relative;
      height: $h;
      min-height: 200px;
      width: 100%;
      // background: linear-gradient(to right, #a86de5, #4a3594);
      background-size: cover !important;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.16);
      }
    }
  }

  .drawer {

    .quick-entry {
      cursor: pointer;
    }

    .iconfont {
      position: relative;
      left: -3px;
      font-size: 26px;
    }

  }

}



//
.bg-bubbles {
  position: relative;
  flex: 1;
  width: $left-nav-w;
  height: auto;
  z-index: 0;
  overflow: hidden;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -160px;
  animation: square 39s infinite;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay: 5s;
}

.bg-bubbles li:nth-child(3) {
  left: 35%;
  width: 33px;
  height: 33px;
  animation-delay: 10s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 60%;
  animation-delay: 16s;
}

.bg-bubbles li:nth-child(6) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 25s;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 58px;
  height: 58px;
  animation-delay: 32s;
}

@keyframes square {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-700px) rotate(-700deg);
  }
}